@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply hover:bg-blue-400 bg-blue-300 rounded-lg p-4 m-2;
    }

    .btn-danger {
        @apply hover:bg-red-400 bg-red-300 rounded-lg p-4 m-2;
    }
}
